<!DOCTYPE html>
<html>
    <head>
        <title>TDA</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Proyecto Grupal TDA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Crear Curso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Incribir</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ver Inscritos</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <p>Promedio {{estudiante}}</p>
        </header>